*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btn{
    border-radius: 50px !important;
    padding: 10px 40px !important;
}